	        <td><%= @product.name %></td>
	        <td><%= @product.description %></td>
	        <td><%= @product.price %></td>
	        <td><%= @product.is_online %></td>
	        <td><%= @product.image %></td>
<%= link_to '回商品列表', backend_products_path %>